header {
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  background-color: #252525;
  padding-left: 5vw;
  padding-right: 5vw;
}

.image-logo {
  width: 16vw;
  min-width: 180px;
}

.nav-bar-header {
  display: flex;
  width: 30vw;
  justify-content: space-around;
  align-items: center;
  grid-gap: 1vw;
}

.link-header {
  font-family: 'Bebas Neue', cursive;
  font-size: 22px;
  width: auto;
  letter-spacing: 3px;
  color: white;
  text-decoration: none;
  padding-inline: 5px;
  text-align: center;
  transition: 0.3s ease-in-out;
}

.link-header:hover {
  color: #bb0101;
  text-decoration: none;
  border-radius: 10px;
}

.search-container {
  align-items: center;
  justify-content: center;

}

.search-container input {
  width: 300px;
  margin: 0;
}

@media screen and (max-width: 1045px) {
  header {
    flex-wrap: wrap;
    justify-content: space-around;
    height: auto;
  }
  
  .nav-bar-header {
    flex-wrap: wrap;
    width: auto;
    height: auto;
    justify-content: space-around;
    align-items: center;
    overflow-y: hidden;
  }
  
  .link-header {
    font-size: 19px;
    padding: 10px;
    text-align: center;
  }
}
