.products-container {
  justify-content: center;
  flex-wrap: wrap;
  padding-top: 20px;
  max-width: 1280px;
  padding-bottom: 20px;
  background-color: #efefef;

}

.products {
  justify-content: center;
}

.undefined {
  height: 82vh;
  flex-direction: column;
  align-items: center;
  font-style: italic;
  color: grey;
  font-size: 14px;
}

.undefined p {
  padding-top: 70px;
}