.product-card {
  font-size: 11px;
  width: 300px;
  height: 400px;
  padding-top: 10px;
  flex-direction: column;
  margin: 5px;
  justify-content: space-between; 
  padding-bottom: 10px;
  border-radius: 10px;
  transition: 0.4s ease-in-out;
  background-color: #ffffff;
}

.product-card:hover {
  box-shadow: 0 0 10px rgba(85, 85, 85, 0.2);
}

.image-card {
  align-items: center;
  justify-content: center;
  overflow: hidden; 
  width: 220px;
  height: 220px;
}

.title-container-card {
  overflow: hidden;
  text-align: center;
  align-items: center;
  justify-content: center ;
  height: 26.43%;
  width: 100%;
  justify-self: center;
}

.product-info {
  cursor: pointer;
  flex-direction: column;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 85%;
  width: 90%;
  margin: 0 auto;
  text-align: center;
  align-items: center;
}

.buttons-card {
  justify-content: space-around;
  width: 95%;
  height: 35px;
  margin: 0 auto;
  z-index: 1000;
}
