.buttons {
  padding: 5px 15px;
  margin: 5px;
}

.btn-edit,
.btn-delete {
  width: 48%;
  text-align: center;
  height: 100%;
  transition: 0.3s;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  ;
}

.btn-edit {
  background-color: rgb(5, 63, 151);
  color: white;
}

.btn-edit:hover {
  background-color: rgb(7, 82, 221);
}

.btn-delete {
  background-color: rgb(212, 212, 212);
}

.btn-delete:hover {
  background-color: rgb(180, 23, 17);
  color: white;
}
