@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
  display: flex;
  background-color: #464646;
  height: 100vh;
  flex-direction: column;
  justify-content: space-between;
}

* {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  overflow-x: hidden;
}

.flex {
  display: flex;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  min-height: 90vh;
}
